<h1 mat-dialog-title>{{data}}</h1>
<div mat-dialog-content>
  <form class="mapping-form" (ngSubmit)="onSubmit()">
    <div *ngIf="teams; then selectTeam; else loadTeams"></div>
    <ng-template #selectTeam>
      <mat-form-field>
        <mat-label>Teams team name</mat-label>
        <mat-select matInput placeholder="Team name" required [(ngModel)]="channelMapping.team" name="teamName"
          (selectionChange)="onTeamSelectionAsync($event)">
          <mat-option *ngFor="let team of teams" [value]="team">
            {{ team.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </ng-template>
    <ng-template #loadTeams>
      <mat-label *ngIf="!teams">Loading teams...</mat-label>
    </ng-template>

    <mat-form-field *ngIf="teams && teamsChannels">
      <mat-label>Teams channel name</mat-label>
      <mat-select matInput placeholder="Teams channel name" required [(ngModel)]="channelMapping.teamsChannel"
        name="teamsChannelName">
        <mat-option *ngFor="let channel of teamsChannels" [value]="channel">
          {{ channel.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-label *ngIf="channelMapping.team.id && !teamsChannels">Loading Channels in {{channelMapping.team.name}}...
    </mat-label>

    <mat-form-field>
      <input name="botToken" matInput type="search" placeholder="Slack Bot Token" class="search-input"
        [(ngModel)]="slackBotToken">
      <mat-icon matSuffix (click)="getWorkspaceAsync()">search</mat-icon>
    </mat-form-field>

    <mat-form-field *ngIf="channelMapping.workspace.id">
      <mat-label>Slack workspace name</mat-label>
      <input name="workspaceName" readonly matInput value="{{channelMapping.workspace.name}}">
    </mat-form-field>
    <mat-form-field *ngIf="channelMapping.workspace.id">
      <mat-select matInput placeholder="Slack channel name" required [(ngModel)]="channelMapping.slackChannel"
        name="slackChannelName">
        <mat-option *ngFor="let channel of slackChannels" [value]="channel">
          {{ channel.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button type="submit" *ngIf="enableSave" color="primary">Save</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
</div>