<h1>Teams</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Team Name</th>
      <th scope="col">ID</th>
      <th scope="col">Channels</th>
    </tr>
  </thead>
  <tbody>
    {{#each teamsAndChannels}}
    <tr>
      <td>{{this.displayName}}</td>
      <td>{{this.id}}</td>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Channel Name</th>
              <th scope="col">ID</th>
            </tr>
          </thead>
          <tbody>
            {{#each this.channels}}
            <tr>
              <td>{{this.displayName}}</td>
              <td>{{this.id}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>