<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center"
        class="content">
        <div class="blocks" *ngIf="auth.isAuthenticated()">
          <button button="submit" mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon> Add Channel Mapping
          </button>
        </div>
        <div class="blocks">
          <a button mat-raised-button color="primary" (click)="auth.signIn()" *ngIf="!auth.isAuthenticated()">
            <mat-icon>input</mat-icon>Login to add/edit/delete mappings
          </a>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Channel mappings</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="getDataSource()">
                <ng-container matColumnDef="teams">
                  <mat-header-cell *matHeaderCellDef> Teams team/channel </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.team.name}}/{{element.teamsChannel.name}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="slack">
                  <mat-header-cell *matHeaderCellDef> Slack workspace/channel </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.workspace.name}}/{{element.slackChannel.name}}
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="owner">
                  <mat-header-cell *matHeaderCellDef> Mapping Owner </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.mappingOwner.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div *ngIf="displayDeleteButton(element); then deleteButton"></div>
                    <ng-template #deleteButton>
                      <a (click)="deleteMapping(element.position)" type="button">
                        <mat-icon class="icon">delete</mat-icon>
                      </a>
                    </ng-template>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
                <mat-row *matRowDef="let row; columns: getDisplayedColumns();"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>