OAUTH_APP_ID=app_id_here
OAUTH_APP_PASSWORD=app_secret_here

OAUTH_AUTHORITY=https://login.microsoftonline.com/common
OAUTH_ID_METADATA=/v2.0/.well-known/openid-configuration
OAUTH_AUTHORIZE_ENDPOINT=/oauth2/v2.0/authorize
OAUTH_TOKEN_ENDPOINT=/oauth2/v2.0/token

BOT_APP_ID=bot_id_here
BOT_APP_PASSWORD=bot_secret_here
BOT_SCOPES=https://api.botframework.com/.default

OAUTH_TENANT_ID=tenant_id_here
OAUTH_GRAPH_SCOPES='offline_access https://graph.microsoft.com/group.readwrite.all'

